@model LabLog.ViewModels.ComputerViewModel

<h2>Computer @Model.computer.Position</h2>

<h3>Info</h3>
<ul>
    <li>Serial Number: @Model.computer.SerialNumber</li>
    <li>Name: @Model.computer.Name</li>
</ul>

<h3>Current Damage</h3>
<ul>
    @foreach (var user in Model.computer.UserList)
    {

    <li>@user.UsernameAssigned - @user.TimeAssigned</li>

    }
</ul>