@model LabLog.ViewModels.RoomViewModel

<h2>@Model.Room.Name</h2>
<form asp-controller="Teacher" asp-action="AssignStudents" method="post">
    <ul>
        @foreach (var computer in Model.Room.Computers)
        {
            <li>
                <a asp-controller="@this.ViewContext.RouteData.Values["controller"].ToString()" asp-action="Computer" asp-route-name="@computer.Position">Computer @computer.Position</a>
                <input type="text" id="@computer.SerialNumber" placeholder="Student Username">
            </li>
        }

    </ul>
    <input type="submit" id="submit" value="Submit">
</form>