@model LabLog.ViewModels.RoomViewModel

<h2>@Model.Room.Name</h2>
<form asp-controller="@this.ViewContext.RouteData.Values["controller"].ToString()" asp-action="AssignStudents" asp-route-schoolId="@Model.School.Id" asp-route-name="@Model.School.Name" asp-route-roomName="@Model.Room.Name" method="post">
    <ul>
        @for (int i=0; i< Model.Room.Computers.Count; i++)
        {
            <li>
                <a asp-controller="@this.ViewContext.RouteData.Values["controller"].ToString()" asp-action="ComputerView" asp-route-schoolId="@Model.School.Id" asp-route-name="@Model.School.Name" asp-route-roomName="@Model.Room.Name" asp-route-position="@Model.Room.Computers[i].Position" >Computer @Model.Room.Computers[i].Position</a>
                <input type="text" placeholder="Student Username" asp-for="@Model.AssignStudentView[i].Username">
                <input type="hidden" asp-for="@Model.AssignStudentView[i].SerialNumber" value="@Model.Room.Computers[i].SerialNumber">
            </li>
        }

    </ul>
    <input type="submit" id="submit" value="Submit">
</form>