@model LabLog.ViewModels.RoomViewModel

    <ul>
        @foreach (var assignStudent in Model.AssignStudentView)
        {
            <li>
                <a asp-controller="@this.ViewContext.RouteData.Values["controller"].ToString()" asp-action="Computer" asp-route-schoolId="@Model.School.Id" asp-route-name="@Model.School.Name" asp-route-roomname="@Model.Room.Name" asp-route-serialNumber="@assignStudent.Computer.SerialNumber" >Computer @assignStudent.Computer.Position</a>
                <input type="text" placeholder="Student Username" asp-for="@assignStudent.Username">
            </li>
        }

    </ul>
    <input type="submit" id="submit" value="Submit">