@model LabLog.ViewModels.DamageViewModel

<script type="text/javascript">
    function enableEditing()
    {
        var form = document.getElementById("editdamage");
        var elements = document.getElementsByClassName("form-control");
        for (i=0; i<elements.length; i++)
        {
            if (elements[i].disabled == true)
            {
                elements[i].disabled = false;
            }
        }
    }
</script>

<h2>Damage ID - @Model.Damage.DamageId</h2>

<h3>Info</h3>
<ul>
    <li>Computer Position: @Model.computer.Position</li>
    <li>Serial Number: @Model.computer.SerialNumber</li>
    <li>Name: @Model.computer.Name</li>
</ul>
@using (Html.BeginForm())
{
<!-- converting damage details to disabled form, with button to enable via javascript -->
<h3>Damage Details</h3>
<ul>
    <li>Damage ID - <input asp-for="Damage.DamageId" type="text" class="form-control" disabled></li>
    <li>Reported By - <input asp-for="Damage.ReportedBy" type="text" disabled  class="form-control"></li>
    <li>Resolved - <input asp-for="Damage.Resolved" type="checkbox" disabled  class="form-control"></li>
    <li>Ticket Number - <input asp-for="Damage.GLPITicketNum" type="text" disabled  class="form-control"></li>
</ul>
<div><h3>Description</h3><textarea asp-for="Damage.Description" type="text" disabled  class="form-control">@Model.Damage.Description</textarea></div>
<input type="submit" type="submit" value='submit'> <!-- submit button to edit data -->
}
<button onclick="enableEditing()">Edit</button>


<h3>User Records</h3>
<ul>
    @foreach (var user in Model.computer.UserList)
    {

        <li>@user.UsernameAssigned - @user.TimeAssigned</li>

    }
</ul>